<html>
    
    
    <head>
        <!-- contient des informations pour le navigateur -->
        <title>bibliothèque by Adrien NOEL</title>
        <meta charset ="utf-8"/>
        <meta author="Adrien NOEL"/>
        <meta keywords="web html css"/>
        <link rel=stylesheet type="text/css" href="@routes.Assets.versioned("stylesheets/TP2.css")">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
    
<STYLE>A {text-decoration: none;} </STYLE>    
    
    

<body>  
    
<header>
<a href=TP2.html><h1> Bibliothèque</h1>  </a>
    
</header>    
<div class="principal">
<a href="acceuil"><h4>accueil</h4></a><a href="categorie"><h4>catégories</h4></a><a href="ajout"><h4>ajouter un livre</h4></a><a href=reserver><h4>reserver un livre</h4></a>
    
    
    
</div>

<div class="secondaire">
<h2> Catégories</h2>
<div class="livres">
    
<div class="livre1">
    
    <div class=titre1>
    <h3>Fantastique</h3>
    </div>
    <img src = "@routes.Assets.versioned("images/Tdefer.jpg")">
    
    <div class=description1>
       <h3> Description:</h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet nibh luctus, ornare lorem quis, efficitur tellus. Etiam iaculis consectetur ipsum id facilisis. Pellentesque gravida, nisi at te
        
    <a class="nombre" href="genre"><h4>Nombre de livres : 4</h4></a>
    </div>

    
    
    
    </div>
<div class="livre1">
    
    <div class=titre1>
    <h3>Thriller</h3>
    </div>
    <img src = "@routes.Assets.versioned("images/Tdefer.jpg")">
    
    <div class=description1>
       <h3> Description:</h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet nibh luctus, ornare lorem quis, efficitur tellus. Etiam iaculis consectetur ipsum id facilisis. Pellentesque gravida, nisi at te
        
    <a class="nombre" href="genre"><h4>Nombre de livres : 4</h4></a>
    </div>

    
    
    
    </div>
<div class="livre1">
    
    <div class=titre1>
    <h3>Science-fiction</h3>
    </div>
    <img src = "@routes.Assets.versioned("images/Tdefer.jpg")">
    
    <div class=description1>
       <h3> Description:</h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet nibh luctus, ornare lorem quis, efficitur tellus. Etiam iaculis consectetur ipsum id facilisis. Pellentesque gravida, nisi at te
        
    <a class="nombre" href="genre"><h4>Nombre de livres : 4</h4></a>
    </div>

    
    
    
    </div>
<div class="livre1">
    
    <div class=titre1>
    <h3>Romance</h3>
    </div>
    <img src = "@routes.Assets.versioned("images/Tdefer.jpg")">
    
    <div class=description1>
       <h3> Description:</h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet nibh luctus, ornare lorem quis, efficitur tellus. Etiam iaculis consectetur ipsum id facilisis. Pellentesque gravida, nisi at te
        
    <a class="nombre" href="genre"><h4>Nombre de livres : 4</h4></a>
    </div>

    
    
    
    </div>
<div class="livre1">
    
    <div class=titre1>
    <h3>Theatre</h3>
    </div>
    <img src = "@routes.Assets.versioned("images/Tdefer.jpg")">
    
    <div class=description1>
       <h3> Description:</h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet nibh luctus, ornare lorem quis, efficitur tellus. Etiam iaculis consectetur ipsum id facilisis. Pellentesque gravida, nisi at te
        
    <a class="nombre" href="genre"><h4>Nombre de livres : 4</h4></a>
    </div>

    
    
    
    </div>
</div>
</div>

</body>
    
    
    
</html>