<html>
    
    <head>
        <!-- contient des informations pour le navigateur -->
        <title>bibliothèque by Adrien NOEL</title>
        <meta charset ="utf-8"/>
        <meta author="Adrien NOEL"/>
        <meta keywords="web html css"/>
        <link rel=stylesheet type="text/css" href="@routes.Assets.versioned("stylesheets/TP2.css")">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
    
<STYLE>A {text-decoration: none;} </STYLE>    

<body>
<header>
<a href=TP2.html><h1> Bibliothèque</h1>  </a>
    
</header>    
<div class="principal">
<a href="acceuil"><h4>accueil</h4></a><a href="categorie"><h4>catégories</h4></a><a href="ajout"><h4>ajouter un livre</h4></a><a href=reserver><h4>reserver un livre</h4></a>
    
    
</div>
<div class="secondaire">
<h2> Genre : Fantastique</h2>
    
    
    
<div class="livres">
    
<div class="grandtable"> 
<div class="tableau1">
<div>
<table class="table table-condensed">
    

<thead>
    
<tr>
    
<th><div>Titre</div></th>
<th><div>Auteur</div></th>
<th><div>Reference</div></th>
    
</tr>
    
</thead>
    
    
<tbody>
																	
																	
<tr>
    
<td>
<strong>
<a href="livre">Game of Thrones</a>  
</strong>
</td>
    
<td>
Un Random
</td>
    
<td>
R20191
</td>
    
    
<tr>
    
<td>
<strong>
<a href="livre">Harry-Potter</a>  
</strong>
</td>
    
<td>
Un Random
</td>
    
<td>
R20192
</td>
    

<tr>
    
<td>
<strong>
<a href="livre">Le saigneur des anneaux</a>  
</strong>
</td>
    
<td>
Un Random
</td>
    
<td>
R20193
</td>
    
    
<tr>
    
<td>
<strong>
<a href="livre">Le livre des choses perdues</a>  
</strong>
</td>
    
<td>
Un Random
</td>
    
<td>
R20194
</td> 
    

</tbody>
</table>
    
    
    
    </div>
    </div>
    </div>
    </div>
    </div>
    </body>
</html>