<html>
    
    <head>
        <!-- contient des informations pour le navigateur -->
        <title>bibliothèque by Adrien NOEL</title>
        <meta charset ="utf-8"/>
        <meta author="Adrien NOEL"/>
        <meta keywords="web html css"/>
        <link rel=stylesheet type="text/css" href="@routes.Assets.versioned("stylesheets/TP2.css")">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
    
<STYLE>A {text-decoration: none;} </STYLE>    

<body>
<header>
<a href=TP2.html><h1> Bibliothèque</h1>  </a>
    
</header>    
<div class="principal">
<a href="acceuil"><h4>accueil</h4></a><a href="categorie"><h4>catégories</h4></a><a href="ajout"><h4>ajouter un livre</h4></a><a href=reserver><h4>reserver un livre</h4></a>
    
    
</div>
    <div class="secondaire">
<h2> Game Of Thrones</h2>
        
        
    <div class="detail">
    <img src ="Tdefer.jpg">
        
    <div class="auteur3"> <h3> Auteur: George R.R.</h3>  
        <div class="description4">
        
               <div class="info"><ul>
        <li>Editeur: Editeurrandom</li>
        <li>date de parution: 09/12/2019</li>
        <li>catégorie: Fantastique</li>
        <li>reference: R20191</li>
<li>     <div class="rating">
	<div class="stars">
		<i class="fa fa-star gold"></i>
		<i class="fa fa-star gold"></i>
		<i class="fa fa-star"></i>
		<i class="fa fa-star"></i>
		<i class="fa fa-star"></i>
	</div>
        </div>
 </li>  
        </ul>
	</div>
     
<div class="couv"><h4>4e de couverture</h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet tempor nulla, sed congue turpis pellentesque ac. Nam sagittis risus turpis, quis consectetur felis tincidunt nec. Integer id ipsum in quam facilisis cursus in vitae nisl. Pellentesque efficitur iaculis nisi vitae interdum. Etiam sit amet varius sem, quis mattis metus. Suspendisse potenti. Nulla quis turpis luctus, auctor sem quis, accumsan felis. Maecenas at tellus metus.

Nulla ultricies sapien non mauris mattis, eu vestibulum enim rhoncus. In libero ex, pellentesque id tortor at, blandit lacinia nisl. Vivamus neque urna, dapibus ac porta nec, iaculis in orci. Fusce justo ex, semper id iaculis quis, aliquam in felis. Ut felis tortor, fringilla a volutpat eu, ornare sed ligula. Curabitur ornare dui et sodales porta. Curabitur sit amet magna efficitur, scelerisque est nec, aliquet justo. Donec ultricies ex sem, in luctus ante bibendum in.

Suspendisse in dictum urna, eget ultricies lectus. Maecenas nec arcu at risus tincidunt imperdiet eget in risus. Vivamus rhoncus sem eu fringilla vehicula. Suspendisse fringilla erat at lobortis porttitor. Integer non molestie elit, quis luctus augue. Integer fringilla ligula sed sodales congue. Sed sit amet libero at elit finibus sagittis id et neque. Ut auctor dui sagittis ex efficitur commodo. Mauris elit nunc, semper sit amet arcu non, tempus auctor sem.
    

Fusce sed mauris bibendum, fermentum libero sit amet, vehicula lorem. Nullam sed mi a turpis suscipit massa nunc. </div>

        </div>
 
    </div>
        </div>
    </div>
    </body>
</html>

      